@{
    ViewData["Title"] = "About Cars And Auto Parts Shop.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]This is a concept site of a generical shop.</h3>

<p>Created at 13/01/2019 by Eduardo de Souza AKA Crisco.</p>
